In [1]:
# Packages for the data
# import pandas as pd
# import numpy as np

# Package for visualization
# import seaborn as sns

# Packages for machine learning classifiers
# from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, VotingClassifier
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold

In [1]:
# Read the data into dataframes
import pandas as pd

train_df = pd.read_csv('training.csv')
print ("training set has ", train_df.shape)
test_df = pd.read_csv('test.csv')
print ("test set has ", test_df.shape)
ntest = test_df.shape[0]

print ("remove one column from the training set")

Ytrain = train_df['IsBadBuy']
train_df = train_df.drop(columns=['IsBadBuy'])

# Put all data together so we can wrangle all the data at the same time
all_data = pd.concat([train_df, test_df], ignore_index=True)
all_data.isnull().sum()

training set has  (72983, 34)
test set has  (48707, 33)
remove one column from the training set

RefId                                     0
PurchDate                                 0
Auction                                   0
VehYear                                   0
VehicleAge                                0
Make                                      0
Model                                     0
Trim                                   3910
SubModel                                 13
Color                                    12
Transmission                             12
WheelTypeID                            5357
WheelType                              5362
VehOdo                                    0
Nationality                              12
Size                                     12
TopThreeAmericanName                     12
MMRAcquisitionAuctionAveragePrice        28
MMRAcquisitionAuctionCleanPrice          28
MMRAcquisitionRetailAveragePrice         28
MMRAcquisitonRetailCleanPrice            28
MMRCurrentAuctionAveragePrice           458
MMRCurrentAuctionCleanPrice             458
MMRCurrentRetailAveragePrice            458
MMRCurrentRetailCleanPrice              458
PRIMEUNIT                            115755
AUCGUART                             115755
BYRNO                                     0
VNZIP1                                    0
VNST                                      0
VehBCost                                  0
IsOnlineSale                              0
WarrantyCost                              0
dtype: int64

In [3]:
all_data.head()

,RefId,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

### A. Drop the unimportant stuff

In [4]:
all_data.drop(labels='AUCGUART', axis='columns', inplace=True)
all_data.drop(labels='PRIMEUNIT', axis='columns', inplace=True)
all_data.drop(labels='RefId', axis='columns', inplace=True)

### B. Observe missing values

<p>Let's take a look at what missing values we'll have to handle.</p>

In [5]:
all_isnull = all_data.columns[all_data.isnull().any()]
for col in all_isnull:
    try:
        all_data[col].fillna(all_data[col].mode()[0], inplace=True)
    except:
        all_data[col].fillna(all_data[col].median(), inplace=True)
all_data.isnull().sum()

PurchDate                            0
Auction                              0
VehYear                              0
VehicleAge                           0
Make                                 0
Model                                0
Trim                                 0
SubModel                             0
Color                                0
Transmission                         0
WheelTypeID                          0
WheelType                            0
VehOdo                               0
Nationality                          0
Size                                 0
TopThreeAmericanName                 0
MMRAcquisitionAuctionAveragePrice    0
MMRAcquisitionAuctionCleanPrice      0
MMRAcquisitionRetailAveragePrice     0
MMRAcquisitonRetailCleanPrice        0
MMRCurrentAuctionAveragePrice        0
MMRCurrentAuctionCleanPrice          0
MMRCurrentRetailAveragePrice         0
MMRCurrentRetailCleanPrice           0
BYRNO                                0
VNZIP1                               0
VNST                                 0
VehBCost                             0
IsOnlineSale                         0
WarrantyCost                         0
dtype: int64

In [6]:
import category_encoders as ce
nonList = list(all_data.select_dtypes(include=[np.object]))
print (nonList)

all_data2 = all_data.copy()

for this_label in nonList:
    
    encoder = ce.BinaryEncoder(cols=[this_label])
    
    all_data2 = encoder.fit_transform(all_data2)    
    
    print (this_label, len(all_data[this_label].unique()))
    if (len(all_data[this_label].unique()) < 40):
        print (all_data[this_label].unique())

['PurchDate', 'Auction', 'Make', 'Model', 'Trim', 'SubModel', 'Color', 'Transmission', 'WheelType', 'Nationality', 'Size', 'TopThreeAmericanName', 'VNST']
PurchDate 519
Auction 3
['ADESA' 'OTHER' 'MANHEIM']
Make 33
['MAZDA' 'DODGE' 'FORD' 'MITSUBISHI' 'KIA' 'GMC' 'NISSAN' 'CHEVROLET'
 'SATURN' 'CHRYSLER' 'MERCURY' 'HYUNDAI' 'TOYOTA' 'PONTIAC' 'SUZUKI'
 'JEEP' 'HONDA' 'OLDSMOBILE' 'BUICK' 'SCION' 'VOLKSWAGEN' 'ISUZU'
 'LINCOLN' 'MINI' 'SUBARU' 'CADILLAC' 'VOLVO' 'INFINITI' 'PLYMOUTH'
 'LEXUS' 'ACURA' 'TOYOTA SCION' 'HUMMER']
Model 1130
Trim 137
SubModel 933
Color 17
['RED' 'WHITE' 'MAROON' 'SILVER' 'BLACK' 'GOLD' 'GREY' 'BLUE' 'BEIGE'
 'PURPLE' 'ORANGE' 'GREEN' 'BROWN' 'YELLOW' 'NOT AVAIL' 'OTHER' 'PINK']
Transmission 3
['AUTO' 'MANUAL' 'Manual']
WheelType 3
['Alloy' 'Covers' 'Special']
Nationality 4
['OTHER ASIAN' 'AMERICAN' 'TOP LINE ASIAN' 'OTHER']
Size 12
['MEDIUM' 'LARGE TRUCK' 'COMPACT' 'LARGE' 'VAN' 'MEDIUM SUV' 'LARGE SUV'
 'SPECIALTY' 'SPORTS' 'CROSSOVER' 'SMALL SUV' 'SMALL TRUCK']
TopThreeAmericanName 4
['OTHER' 'CHRYSLER' 'FORD' 'GM']
VNST 38
['FL' 'VA' 'IA' 'AR' 'MN' 'TN' 'PA' 'OH' 'AL' 'MI' 'TX' 'IL' 'MA' 'AZ'
 'GA' 'NC' 'MD' 'CA' 'UT' 'OR' 'SC' 'CO' 'ID' 'NV' 'WV' 'MS' 'OK' 'NM'
 'LA' 'IN' 'MO' 'WA' 'NH' 'NJ' 'NY' 'NE' 'KY' 'WI']

## 4. Diving in (machine learning)

<p>Now that the data has been properly cleaned, we can try to find a model that works well for making our predictions. We'll first split our training set into the features (Xtrain) and the results (Ytrain). We'll also load in some classifiers which we will compare.</p>

In [7]:
Xtrain = all_data2.head(len(Ytrain))

RFC = RandomForestClassifier()
Ada = AdaBoostClassifier()
KNN = KNeighborsClassifier()
classifiers = [RFC, Ada, KNN]
clf_names = ['Random Forest', 'AdaBoost', 'K Nearest Neighbors']

<p>For this analysis, we'll only be comparing across three classifiers: Random Forest, AdaBoost, and K Nearest Neighbors. For more information on other potential (or more complicated) classifiers I invite you to check out the other kernels posted by those who top the leaderboards for this competition.</p>

<p>For each of these classifiers, we'll want to make sure we create the models with the optimal parameters. We can do this with a Grid Search. We define the set of parameters we want to scan for each type of classifier, and then run our grid searches.</p>

In [8]:
# Use kfold as our cross validation
kfold = StratifiedKFold(n_splits=4)

# Set grid search parameter settings
rfc_param_grid = {'max_depth': [None],
                 'max_features': [1],
                 'min_samples_split': [2],
                 'min_samples_leaf': [1],
                 'bootstrap': [False],
                 'n_estimators': [100],
                 'criterion': ['gini']}
ada_param_grid = {'n_estimators': [20],
                 'learning_rate': [0.0001, 0.001, 0.01, 0.1, 1, 10]}
knn_param_grid = {'n_neighbors': [5],
                  'weights': ['uniform', 'distance'],
                 'leaf_size': [5]}
param_grids = [rfc_param_grid, ada_param_grid, knn_param_grid]

# Perform grid searches to get estimators with the optimal settings
grid_searches = []
for i in range(len(classifiers)):
    grid_searches.append(GridSearchCV(estimator=classifiers[i], param_grid=param_grids[i], 
                                      n_jobs=4, cv=kfold, verbose=1))

<p>We'll now want to see the training scores for each of our models and determine which one works the best. We'll fit each model to our training set and add the best scores from each to a list.</p>

In [9]:
# Train the models
best_scores = []
for i in range(len(grid_searches)):
    grid_searches[i].fit(Xtrain, Ytrain)
    best_scores.append(grid_searches[i].best_score_)

Fitting 4 folds for each of 1 candidates, totalling 4 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done   2 out of   4 | elapsed:  1.1min remaining:  1.1min
[Parallel(n_jobs=4)]: Done   4 out of   4 | elapsed:  1.1min finished

Fitting 4 folds for each of 6 candidates, totalling 24 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  24 out of  24 | elapsed:   35.2s finished

Fitting 4 folds for each of 2 candidates, totalling 8 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done   8 out of   8 | elapsed:  2.0min finished

<p>Let's see the best scores for each classifier.</p>

In [10]:
# Best scores
for i in range(len(best_scores)):
    print(clf_names[i] + ": " + str(best_scores[i]))

Random Forest: 0.8745050217173862
AdaBoost: 0.8771905786278996
K Nearest Neighbors: 0.8560486688680926

<p>Based on these training scores, it makes the most sense to use the Random Forest Classifier to make the predictions. We'll predict on the test set, and then write the predictions to a csv file for submission.</p>

In [11]:
# Make predictions
Xtest = all_data2.tail(ntest)
#Xtest = test_df.drop(columns='RefId', axis='columns')
predictions = grid_searches[0].predict(Xtest)

# Write predictions to output csv
pred_df = pd.DataFrame({'RefId': test_df['RefId'],
                        'IsBadBuy': predictions})
pred_df.to_csv('predictions.csv', index=False)

print("Done writing to csv")

Done writing to csv